.about{
    background-color: #8BDED8;
    img{
      background-color: rgba(139, 222, 216, .5);
      border-radius:24px;
     text-align:center;
     opacity:0.75
    }
    .box{
  color: #3A3791;
  border-radius:24px;
  
    }
  }