$alt_color: #06716A;

.container{
    .logo{
        img{
    width:148px;
        }
    }
    button{
        background-color: $alt_color;
        
    }
    ul li a{
         color: $alt_color;
        
    }
    }
    .navbar .navbar-toggler:focus{
        box-shadow:none;
      }
         ul li a{
               
              font-weight:700;
          }