$alt_color: #06716A;

.container{
    .logo{
        img{
    width:148px;
        }
    }
    button{
        background-color: $alt_color;
        
    }
    ul li a{
         color: $alt_color;
        
    }
    }