*{
    font-family:"Tajawal";
    text-decoration: none;
    list-style-type: none;
}
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400;500&family=Montserrat+Alternates:wght@300&family=Noto+Naskh+Arabic:wght@600&family=Open+Sans:wght@300;400;700&family=Roboto&display=swap');