.review{
    background-color:#FCF9EF;
    .container{color: #06716A;
    }
    .boxs button{
    width:10px;
    height:10px;
    border-radius:100%;
    background-color:#06716A;
    }
    .card{width: 14rem;
    }
        }